@using SmartGreenhouse.Database;
@using SmartGreenhouse.ViewModel;

@model List<TemperatureVM>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<style>


</style>


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <p>
            <strong style="margin:auto">TEMPERATURA</strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title" style="text-align:center;">Trenutna temperatura</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash"></div>
                </li>
                <li style="text-align:left;"><i class="ti-arrow-up text-success">
                     </i> <span class="counter text-black-50">@ViewBag.last</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title" style="text-align:center;">Optimalna temperatura</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"></div>
                </li>
                <li style="text-align:left;"><i class="ti-arrow-up text-purple">
                     </i> <span class="counter text-black-50">24</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Grafički prikaz vrijednosti temperature</h3>
            <canvas id="chart" style="height: 100px;"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
            </div>
            <h3 class="box-title">Tabelarni prikaz vrijednosti temperature</h3>
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Datum pohrane vrijednosti</th>
                            <th>Izmjerena temperatura</th>
                            <th>Indeks topline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td class="txt-oflo">@item.InsertDate</td>
                                <td class="txt-oflo">@item.Temperature</td>
                                <td class="txt-oflo">@item.HeatIndex</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var table = document.getElementById('dataTable');
    var json = [];
    var headers = [];

    for (var i = 0; i < table.rows[0].cells.length; i++) {
        headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
    }
    for (var i = 1; i < table.rows.length; i++) {
        var tableRow = table.rows[i];
        var rowData = {};
        for (var j = 0; j < tableRow.cells.length; j++) {
            rowData[headers[j]] = tableRow.cells[j].innerHTML;
        }
        json.push(rowData);
    }

    var labels = json.map(function (e) {
        return e.datumpohranevrijednosti;
    });
    var values = json.map(function (e) {
        return e.izmjerenatemperatura;
    });

    var myChart = new Chart('chart', {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "Temperatura",
                data: values, 
                backgroundColor: 'rgb(153, 153, 224)',
                borderColor: 'blue',
                borderWidth: 1
            }]
        }
    });
</script>